body{
    font-family: Arial, Helvetica, sans-serif;
}

 /* header */
 #logo{
    width: 50px;
    margin-left: -90%;
    border-radius: 100%;
    margin-top: 25px;
  }
 header {
    background-color: #4caf50;
    color: #ffffff;
    padding: 5px;
    text-align: center;
  }
 header h1{
    margin-top: -4%;
 }


.shopping-cart {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
  }
  
  .shopping-cart h2 {
    margin-bottom: 10px;
    font-size: 30px;
    text-align: center;
    color: #4caf50;
  }
  .shopping-cart p{
    text-align: center;
  }

  .cart-items {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .cart-items th,
  .cart-items td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .cart-item img {
    width: 190px;
    /* height: 80px; */
    margin-right: 10px;
    border-radius: 5px;
  }
  
  .item-info h3 {
    margin: 0;
  }
  .item-info p{
    margin-left: -80%;
  }
  
  .quantity {
    /* display: flex; */
    align-items: center;
  }
  .quantity input{
    width: 40px;
  }
  .quantity-value {
    margin: 0 10px;
  }
  
  .remove-item {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .cart-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .checkout-btn {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }
  

/* Media Queries */
@media screen and (max-width: 768px) {
  /* Adjust header logo size and position */
  #logo {
    width: 30px;
    margin-left: -50%;
    margin-top: 10px;
  }

  /* Adjust font size in shopping cart section */
  .shopping-cart h2 {
    font-size: 24px;
  }

  /* Adjust image width in cart items */
  .cart-item img {
    width: 150px;
  }

  /* Adjust margin in item info */
  .item-info p {
    margin-left: -60%;
  }

  /* Adjust font size in checkout button */
  .checkout-btn {
    padding: 8px 16px;
  }
}

  @media screen and (max-width: 480px) {
    /* Adjust header logo size and position */
    #logo {
      width: 20px;
      margin-left: -10%;
      margin-top: 5px;
    }
  
    /* Adjust font size in shopping cart section */
    .shopping-cart h2 {
      font-size: 20px;
    }
  
    /* Adjust image width in cart items */
    .cart-items{
      display: grid;
    }
    .cart-item img {
      width: 100px;
    }
  
    /* Adjust margin in item info */
    .item-info p {
      margin-left: -40%;
    }
  
    /* Adjust font size in checkout button */
    .checkout-btn {
      padding: 6px 12px;
    }
  }