@keyframes bounce{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-20px);
  }
  100%{
    transform: translateY(0);
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.text-center{
  text-align: center;
  color: rgb(18, 31, 18);
} 
.topNav .navItems a{
  margin-right: 1em;
  color: white;
  padding-right: 100px;
}


button{
  color: #fff;
  width: 200px;
  padding: 1.5%;
  background-image: linear-gradient(to left, green ,rgb(243, 70, 70));
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
  border: transparent;
  
}
.searchInput{
  border: solid green 1px;
  border-radius: 15px;
  width: 300px;
  height: 35px;
  margin-left: 3%;
}
.head3{
text-align: center;
font-size: x-large;
margin-left: 30%;
}


.img-responsive{
  width: 60%;
  margin-left: 15%;
  border-radius: 30px;
}
h2{
font-family: Arial, Helvetica, sans-serif;   
font-size: large; 
font-weight: bold;
}

p{
  font-family: Arial, Helvetica, sans-serif;
      color: green;
      font-size: large;
}


button{
  color: #fff;
  padding: 2.5%;
  /* background-image: linear-gradient(to right, orange ,green(243, 70, 70)); */
  background-color:white;
  border-radius: 5px;
  cursor: pointer;
  border: transparent;
}

button:hover{
  background-image: linear-gradient(to left, green, green);
}

button a{
  text-decoration: none;
  color: #fff;
}

/* <!-- Nav Section Start --> */

.navBar{
  position: sticky;
  top: 0;
  background-color: green;
  padding-bottom: 1%;
}
#logoPic{
  width: 40%;
  border-radius: 100%;
  margin-top: -10%;
  /* margin-left: -5%; */
}




.topNav{
  display: flex;
  justify-content: space-between;
  padding: 2%;
  height: 10vh;


  
}

.navBar a{
  text-decoration: none;
  font-weight: 800;
  
  
}

.topNav .logo a{
  /* color: #111; */
  font-weight: 900;
  letter-spacing: 0.1em;
  font-family: Arial, Helvetica, sans-serif;
}

.topNav .logo span{
  /* color:rgb(7, 26, 7); */
  color: white;
  font-weight: bold;
  /* font-size: 100px; */
  /* margin-top: 60%; */
  font-size: x-large;
}

.topNav .navItems{
  margin-right: 1%;
}

.topNav .navItems a{
  margin-right: 1em;
  color: white;
}

.topNav .navItems a:hover{
  /* color: red; */
}

.button-cart button{
  padding: 0px 20px;
}



/* <!-- Nav Section End --> */
/* <!-- -- 
----
------
--------
----------- -- !> */
/* Welcome Section Start */



.welcomeMain{
  display: flex;
  /* border: 2px solid; */
  margin: 0 5%;
}


/* About Section End */
/* <!-- -- 
----
------
--------
----------- -- !> */
/* Section Start*/

.product{
  margin-top: 5%;
}

.productControl{
  display: flex;
}
.productBox{
  margin-left: 0%;
}
.productHead{
  color: green;
}
.productHead p{
  color: rgb(5, 77, 5);
}
.recBox{
  /* border: 2px solid; */
  padding: 15%;
  margin: 5%;
  color: rgb(35, 56, 35);
  box-shadow:5px 10px 10px 5px rgba(0, 0, 0, 0.1) ;
  border-radius: 4%;
  
}

.recBox img{
  max-width: 100%;
  margin-bottom: 20%;
  
}
.toCart{
  margin-left: 40%;
  color: white;

}
.navBar{
  
}








/* Product Section End */





/* footer end */

.our-services p{
  color:  rgb(5, 77, 5);}

section.our-services{
  /* background:var(--light); */
  /* position:relative; */
}
section.our-services .card-wrapper{
  margin-left:4rem;
  /* display: flex; */
  margin-top:-2rem;

}
#iconicas{
  /* position: relative; */
  animation-name: bounce;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  /* animation-iteration-count:inherit; */
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}  
.service-card{
  border: solid gainsboro 1px;
  border-radius: 70px;
  background-color: gainsboro;
  width: 400px;
}
.service-card{
  background:var(--heaven);
  text-align: center;
  padding:2rem;
  padding-top:4rem;
  margin-right:2rem;
  border-radius: 4px;
}
.our-services .service-card h2{
  font-family: "Raleway-bold";
  font-size: 1.5rem;
  color: rgb(5, 77, 5);;
  margin-bottom:1rem;
}
.card-wrapper{
  display: flex;
}
#submit{
  background-image: linear-gradient(to left, green ,rgb(216, 15, 15));
  width: 200px;
  height: 40px;
  border-radius: 4px;

      text-align: center;

}
#submit:hover{
  background-image: linear-gradient(to left, green, green);
}
  
@media screen and (max-width:768px) and (max-width:1023px) {
  .service-card{
    background:var(--heaven);
    display: block;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    }
    section.our-services{
      margin-left: 0%;
    }
    .card-wrapper{
      margin-left:0rem;
      margin-top:-2rem;
      margin-right: 100%;
      display: block;
      padding-top: 7px;
      width: 80%;

    }
    #head3{
      font-size: x-large;
      margin-left: 0%;
      display: block;
    }
    .img-responsive{
      
    }
    .recBox{
      
    }

    .productControl{
      display: block;
    }
    .searchInput{
      border: solid green 1px;
      border-radius: 15px;
      width: 200px;
      height: 35px;
      margin-left: 30%;
    }
    .toCart{
      margin-left: 20%;
    }

    button{
      color: #fff;
      width: 50px;
      padding: 1.5%;
      text-align: center;
      cursor: pointer;
      border: transparent;
      
    }
        
    
    
      
  
  
}
@media screen and (max-width:767px){
  .service-card{
    background:var(--heaven);
    display: block;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    }
    section.our-services{
      margin-left: 0%;
    }
    .card-wrapper{
      margin-left:0rem;
      margin-top:-2rem;
      margin-right: 100%;
      display: block;
      padding-top: 7px;
      width: 80%;

    }
    #head3{
      font-size: x-large;
      margin-left: 0%;
      display: block;
    }
    .img-responsive{
      
    }
    .recBox{
      
    }

    .productControl{
      display: block;
    }
    .searchInput{
      border: solid green 1px;
      border-radius: 15px;
      width: 200px;
      height: 35px;
      margin-left: 30%;
    }
    .toCart{
      margin-left: 20%;
    }

    button{
      color: #fff;
      width: 50px;
      padding: 1.5%;
      text-align: center;
      cursor: pointer;
      border: transparent;
      
    }


  
}

