body{
    text-align: center;
}
.product{
    width: 40%;
    border-radius: 20px;
    
}
.product1{
    width: 50%;
    border-radius: 20px;
    
}

.allProducts{
    display: flex;
    justify-content: space-between;
}
#viewProduct{
    text-align: center;
}
.plus{
    background-color: green;
    color: white;
    border-radius: 5px;
    font-size: large;

}
.plus1{
    background-color: white;
    color: rgb(2, 2, 2);
    border-radius: 5px;
    width: 50px;
    font-size: large;

}

#plus{
    color: white;
    background-color: green
    ;
}
#vegetable{
    color: green;
}
.searchInput{
    border: solid green 3px;
    border-radius: 5px;
    width: 200px;
    height: 30px;
}
.searchInput2{
    border: solid green 3px;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    margin-top: 15%;
}

.product3{
    /* border: 1px solid #dddddd; */
    border-radius: 30px;
    padding: 10px;
    margin-top: 30px;
    width: 40%;
  }
  .product4{
    /* border: 1px solid #dddddd; */
    border-radius: 30px;
    padding: 10px;
    margin-top: 20px;
    width: 50%;
  }



search{
    /* text-align: center; */
    
}
#fruits{
    /* display: flex; */
}


header {
    background-color: #4CAF50;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
  }
  /* Style the navigation menu */
  nav {
    background-color: #333333;
    color: #FFFFFF;
    padding: 10px;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  nav ul li {
    margin: 0 10%;
  }
  nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
  }
  .iconone{
    margin-left: 0%;
    margin-top: -5px;
    size: 20px;
}
.prodBorders{
    border: solid white 3px;
    background-color: whitesmoke;
    /* margin: 10%; */
    margin-left: 5%;
    width: 70%;
    height: 60%;
    border-radius: 10px;   
}
.prodBorders1{
    border: solid white 3px;
    background-color: whitesmoke;
    /* margin: 10%; */
    /* margin-left: 10%; */
    width: 90%;
    height: 60%;
    border-radius: 10px;   
}


/* .prodBorders:hover {
    transform: scale(1.5);
    } */
 

/* .product1:hover {
    transform: scale(1.1);
    }
 */



