body{
    
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0%;
  width: 100vw;

}


nav ul {
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
justify-content: center;
}
nav ul li {
margin: 0 10%;
}
nav ul li a {
color: #FFFFFF;
text-decoration: none;
}
/* ////////////////////////////////*/


#role{
display: flex;
justify-content: space-between;
}
section{
/* height: 100vh; */
margin: 0%;
}
#logo{
  width: 50px;
  border-radius: 100%;
  margin-left: -90%;
}
#image1{
/* width: 95%; */
border-radius: 20px;
width: 100%;
margin-left: 10%;
margin-top: 20%;
}
#role2{
margin: 0% 20% 0% 10%;
}
#head1{
font-family: Arial, Helvetica, sans-serif;
color:rgb(19, 54, 19);
margin-top: 65%;
font-size: 150%;
/* margin-right: 25%; */
}

#head2{
font-family: Arial, Helvetica, sans-serif;
color:rgb(19, 54, 19);
margin-top: 0%;
font-size: 150%;
/* margin-right: 25%; */
}


/* ///////////// */

.person{
  border: solid 4px;
  color: white;
  background-color: green;
  border-radius: 10px;
  padding: 15px;
  width: 200px;
}
.person a{
text-decoration: none;
}

.choose{
  text-align: center;
}
.choose a{
  color: white;
  font-size: large;
  font-style: none;
}

#head{
  color: green;
  
}
body{
margin: 0%;
}
#named{
font-size: 30px;
text-align: center;
/* margin-right: 99%; */
}


@media only screen and (max-width: 768px) {
  nav ul {
    flex-direction: column;
    width: 20%;
  }
  nav ul li {
    margin: 10px 0;

  }
  #image1 {
    width: 250%;
    margin-left: 170%;
    margin-top: 50%;
  }
  #head1 {
    margin-top: 80%;
  }
  #head2 {
    margin-top: 10%;
  }
  
  


  
}